Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.3
joblib==1.6.0
scikit-learn==1.5.2
xgboost==3.0.0
catboost==1.2.8
matplotlib==3.10.1
seaborn==0.13.2
librosa==0.10.2.post1
opencv-python==4.10.0.84
psycopg2-binary==2.9.10
